@import '../../variables.css';

.root {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	background: var(--dark-background-color);
	color: var(--color-white);
	padding: var(--grid-size);
}

@media (max-width: 850px) {
	.root {
		font-size: 0.8rem;
	}
}
