@import '../../../variables.css';

.root {
}

.featureOne {
	background: linear-gradient(110deg, var(--color-red), var(--color-purple));
}

.featureTwo {
	background: var(--darker-background-color);
}

.featureThree {
	background: linear-gradient(110deg, var(--color-purple), var(--color-blue));
}

.featureRow {
	flex-direction: row;
	display: flex;
}

.featureCardRight {
	max-width: 750px;
	min-height: 500px;
	margin: 100px auto 100px 0px;
}

.featureCardLeft {
	max-width: 750px;
	min-height: 500px;
	margin: 100px 0 100px auto;
}

.featureContent {
	display: flex;
}

.topFeaturePoint {
	margin-top: 0;
}

.featurePoints {
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: calc(var(--grid-size) * 1.5) var(--card-padding) var(--card-padding);
}

.featureTitle {
	color: white;
	width: 45%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

@media (max-width: 960px) {
	.featureRow {
		flex-direction: column;
	}
	.featureTitle {
		margin: 50px auto;
		width: 80%;
	}
	.featureTwo {
		flex-direction: column-reverse;
	}
	.featureCardLeft {
		height: 100%;
		width: inherit;
		margin: 25px;
	}
	.featureCardRight {
		width: inherit;
		margin: 25px;
		height: 100%;
	}
}
