.root {
	position: fixed;
	top: 80px;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	overflow: auto;
}

.selected {
	color: #333;
}

.list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0;
}

.item > a {
	font-size: 0.95rem;
	line-height: 1.65;
	color: #999;
	padding: 5px 0;
	display: block;
	text-decoration: none;
}

@media (min-width: 1400px) {
	.root {
		width: 300px !important;
		padding: 45px 45px 60px 45px;
	}
}

@media (min-width: 960px) {
	.root {
		padding: 40px 40px 60px 40px;
		width: 300px !important;
		border-right: 1px #e5e5e5 solid;
	}
}

@media (max-width: 960px) {
	.root {
		width: 100vw;
	}
}
