@import '../variables.css';

.root {
	--toggle-button-height: calc(var(--grid-size) * 2);
	--shadow-color: rgba(0, 0, 0, 0.5);
	--toggle-button-color: #d3d3d3;
	--logo-width: calc(var(--grid-size) * 9);
	position: fixed;
	background: var(--header-background-color);
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	height: var(--header-size);
	z-index: 10;
}

.menu {
	overflow: hidden;
}

.menuList {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background: none;
	flex-direction: row;
	margin-right: var(--grid-size);
}

.menuItem {
	font-size: 16px;
	line-height: 1.65;
	margin: var(--grid-size);
	padding: calc(var(--grid-size) / 2) 0;
	display: inline-block;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
}

.menuLink {
	color: var(--font-color-inverse);
}

.menuLink:hover {
	color: white;
	text-decoration: none;
}

.left {
	display: flex;
	align-items: center;
	flex: 1 0 auto;
	height: 100%;
}

.link {
	text-transform: uppercase;
}

.link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	border-bottom: 1px solid var(--color-dark-gray);
	transition: right 0.3s ease-out;
}

.link:hover {
	color: var(--color-white);
}

.link:hover::before {
	right: 0;
}

.link:hover {
	color: var(--font-color-inverse-hover);
}

.homeLink {
	display: flex;
	justify-content: center;
	height: 100%;
}

.selected {
	color: white;
}

.logo {
	width: var(--logo-width);
}

.leftContainer {
	margin: auto calc(var(--grid-size) * 2);
	display: flex;
}

.centerContainer {
	height: 100%;
}

.toggleButton {
	text-align: left;
	background: none;
	font: inherit;
	position: relative;
	cursor: pointer;
	height: var(--toggle-button-height);
	width: var(--toggle-button-width);
	z-index: 2;
	top: calc(50 - var(--toggle-button-height));
	border: none;
	display: none;
	padding: 0;
	margin: 0;
}

.toggleBar {
	margin-top: 0;
}

.toggleBar::after {
	margin-top: calc(var(--toggle-button-height) / 2.5);
}

.toggleBar::before {
	margin-top: calc(calc(var(--toggle-button-height) / 2.5) * -1);
}

.toggleBar,
.toggleBar::after,
.toggleBar::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s ease;
	background: var(--toggle-button-color);
	border-radius: var(--border-radius);
	content: '';
	height: calc(var(--toggle-button-height) / 5);
	width: 100%;
}

/* screen reader only - only visible to screen readers */
.srOnly {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.rightContainer {
	display: none;
	width: calc(var(--toggle-button-width) + calc(var(--grid-size) * 2));
	height: var(--toggle-button-height);
	margin: auto var(--grid-size);
}

.mainMenuToggle {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

/* small screen */
@media (max-width: 768px) {
	.root {
		position: inherit;
	}

	.toggleButton {
		display: inline-block;
	}

	.menu {
		position: absolute;
		left: -100vw;
		top: var(--header-size);
		height: 100%;
		width: 100vw;
		overflow-x: visible;
		transition: left 0.3s ease, box-shadow 0.3s ease;
		z-index: 999;
		margin: 0;
		background: var(--header-background-color);
	}

	.menuList {
		margin: 0;
		padding: 2.5em 0 0;
		box-shadow: -8px 0 8px var(--shadow-color);
		min-height: 100%;
		display: flex;
		padding: var(--grid-size) calc(var(--grid-size) * 2);
		box-sizing: border-box;
		flex-direction: column;
	}

	.menuItem {
		text-transform: uppercase;
		text-align: left;
		margin: 0;
		padding: var(--grid-size) 0;
	}

	.centerContainer {
		flex-grow: 2;
		text-align: center;
	}

	.leftContainer {
		flex-grow: 0;
	}

	.rightContainer {
		display: block;
		flex-grow: 0;
	}

	.mainMenuToggle:checked ~ .left .toggleBar {
		background: transparent;
	}

	.mainMenuToggle:checked ~ .left .toggleBar::after,
	.mainMenuToggle:checked ~ .left .toggleBar::before {
		background: var(--toggle-button-color);
		margin-top: 0;
		top: 0;
	}

	.mainMenuToggle:checked ~ .left .toggleBar::before {
		transform: rotate(-45deg);
	}

	.mainMenuToggle:checked ~ .left .toggleBar::after {
		transform: rotate(45deg);
	}

	.mainMenuToggle:checked ~ .menu {
		left: 0;
		outline: none;
		z-index: 1000;
	}

	.mainMenuToggle:checked ~ .menu .menuList {
		position: relative;
		z-index: 1000;
	}

	.mainMenuToggle:checked ~ .left {
		z-index: 999;
	}

	.link::before {
		content: none;
	}

	.link:hover {
		color: var(--color-light-gray);
	}

	.playgroundMenuItem {
		display: none;
	}
}

.iconLink {
	display: flex;
	margin-right: calc(var(--grid-size) * 1.5);
	width: 28px;
	height: 28px;
}
