@import '../variables.css';

.root {
	display: block !important;
}

.meta {
	color: var(--color-light-gray);
}

.headerLink,
.headerLink .header,
.readMoreLink {
	color: var(--font-color);
	position: relative;
	text-decoration: none;
}

.readMoreLink::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	border-bottom: 1px solid var(--color-gray);
	transition: right 0.3s ease-out;
}

.headerLink:hover,
.headerLink:hover .header,
.readMoreLink:hover {
	color: var(--font-color-hover);
	text-decoration: none;
}

.readMoreLink:hover::before {
	right: 0;
}

@media (max-width: 1000px) {
	.root {
		width: 90vw;
		margin: 0 auto;
	}
}
