.root {
	display: inline-block;
	position: relative;
}

.parent {
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	line-height: vcalc(var(--grid-size) * 3);
	height: vcalc(var(--grid-size) * 3);
	color: var(--color-dark-gray);
	z-index: 2;
	position: relative;
	padding: calc(var(--grid-size) * 0.7) calc(var(--grid-size) * 2);
	color: var(--color-white);
	white-space: nowrap;
	height: var(--menu-height);
	box-sizing: border-box;
}

.parent .chevron {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	vertical-align: top;
	width: 0.45em;
	top: -2px;
	transform: rotate(135deg);
	margin-left: var(--grid-size);
}

.parent.noDropdown {
	cursor: inherit;
}

.content:hover ~ .parent {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	z-index: 0;
}

.content {
	position: absolute;
	top: 0;
	display: block;
	z-index: 1;
	padding-top: var(--menu-height);
}

.content .list {
	display: none;
	background: var(--color-white);
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	padding: var(--grid-size);
	position: relative;
	flex-direction: column;
	box-shadow: 0 var(--grid-size) calc(var(--grid-size) * 1.5) rgba(0, 0, 0, 0.2);
}

.root:active .list,
.root:hover .list {
	display: flex;
	z-index: 3;
}

.content .list .link {
	text-decoration: none;
	white-space: nowrap;
	padding-right: calc(var(--grid-size) * 2);
	padding-left: var(--grid-size);
	color: var(--header-background-color);
	display: flex;
}

.content .listItem {
	list-style: none;
	text-align: left;
	line-height: calc(var(--grid-size) * 3);
	height: calc(var(--grid-size) * 3);
}

.content .listItem:last-of-type {
	border-bottom-left-radius: vcalc(var(--grid-size) * 0.5);
	border-bottom-right-radius: vcalc(var(--grid-size) * 0.5);
}

@media (max-width: 1024px) {
	.root {
		display: none;
	}
}
