@import '../variables.css';

:root {
	--dojo-blue: hsl(212, 100%, 45%);
	--dojo-grey: hsl(210, 15%, 42%);
	--dojo-red: hsl(0, 85%, 50%);
}

.root {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.card {
	flex-grow: 0;
}

.label {
	display: block;
	padding-bottom: 1em;
}

.radioLabel {
	display: block;
}

.input {
	border: 1px solid var(--dojo-grey);
	font-family: var(--default-font-family);
	padding: 8px;
	width: 25em;
}

.input:hover,
.input:focus {
	border-color: var(--dojo-blue);
	box-shadow: 0 2px 2px 0 hsl(0, 0%, 0%, 0.2);
}

.button {
	background-color: var(--dojo-blue);
	border: none;
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 8px;
	min-width: 160px;
}

.required {
	color: var(--dojo-red);
}
