@import '../variables.css';

.root {
}

.featureOne {
	background: linear-gradient(110deg, var(--color-red), var(--color-purple));
}

.featureTwo {
	background: var(--darker-background-color);
}

.featureThree {
	background: linear-gradient(110deg, var(--color-purple), var(--color-blue));
}

.featureRow {
	flex-direction: row;
	display: flex;
}

.featureCardRight {
	min-height: calc(var(--grid-size) * 40);
	width: 45%;
	margin: calc(var(--grid-size) * 10) calc(var(--grid-size) * 20) calc(var(--grid-size) * 10) 0px;
	padding: calc(var(--grid-size) * 3.5);
}

.featureCardLeft {
	min-height: calc(var(--grid-size) * 40);
	width: 45%;
	margin: calc(var(--grid-size) * 10) 0 calc(var(--grid-size) * 10) calc(var(--grid-size) * 20);
	padding: calc(var(--grid-size) * 3.5);
}

.featureContent {
	display: flex;
	padding: 0;
}

.topFeaturePoint {
	margin-top: 0;
}

.featurePoints {
	font-size: var(--feature-points-font-size);
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.featureTitle {
	color: white;
	width: 45%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: calc(var(--grid-size) * 2.5);
}

@media (max-width: 960px) {
	.featureRow {
		flex-direction: column;
	}
	.featureTitle {
		margin: calc(var(--grid-size) * 5) auto calc(var(--grid-size) * 2.5) auto;
		width: 80%;
	}
	.featureTwo {
		flex-direction: column-reverse;
	}
	.featureCardLeft {
		height: 100%;
		width: inherit;
		margin: calc(var(--grid-size) * 2.5);
		margin-bottom: calc(var(--grid-size) * 5);
		max-width: initial;
		padding: 0;
	}
	.featureCardRight {
		width: inherit;
		margin: calc(var(--grid-size) * 2.5);
		height: 100%;
		margin-bottom: calc(var(--grid-size) * 5);
		max-width: initial;
		padding: 0;
	}
}
