@import '../variables.css';

.root {
	margin-bottom: calc(var(--grid-size) * 3);
}

.fixed {
	position: fixed;
}

.title {
	color: var(--color-dark-gray);
	padding: calc(var(--grid-size) / 2) 0;
	text-transform: uppercase;
	font-size: 0.875rem;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 0;
	margin-left: calc(var(--grid-size) * 2);
}

.menuItems {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 20px;
	margin: 0;
}

.title + .menuItems {
	margin-top: var(--grid-size);
	margin-left: 10px;
}
