@import '../../variables.css';

.root {
	position: relative;
	text-transform: none;
}

.link {
	font-size: 0.95rem;
	line-height: 1.65;
	color: var(--color-light-gray);
	padding: calc(var(--grid-size) / 2) 0;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.root.selected {
	color: var(--color-dark-gray);
}

.link:hover,
.link:focus {
	text-decoration: none;
}

.link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	border-bottom: 1px solid var(--color-dark-gray);
	transition: right 0.3s ease-out;
}

.link:hover::before {
	right: 0;
}

@media (max-width: 768px) {
	.link::before {
		content: none;
	}

	.link:hover {
		color: var(--color-light-gray);
	}
}

.dropdownLink.selected,
.link.selected {
	color: #333;
}

.dropdownLink.selectedInverse,
.link.selectedInverse {
	color: #fff;
}

.dropdownLink {
	display: flex;
	align-items: center;
	background: none;
	outline: none;
	border: none;
	width: 100%;
}

.dropdownIcon {
	margin-left: auto;
}

.children {
}

.children.expanded {
	visibility: visible;
	opacity: 1;
	max-height: 4000px;
	transition: visibility 0.5s, opacity 0.5s, max-height 0.5s;
	transition-timing-function: ease-in-out;
}

.children.collapsed {
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	max-height: 0px;
	transition: visibility 275ms, opacity 275ms, max-height 280ms;
	transition-timing-function: ease-out;
}
