@import '../../variables.css';

.root {
	position: relative;
	text-transform: none;
}

.link {
	font-size: 0.95rem;
	line-height: 1.65;
	color: #999;
	padding: calc(var(--grid-size) / 2) 0;
	display: block;
	text-decoration: none;
}

.link:hover,
.link:focus {
	text-decoration: none;
}

.dropdownLink.selected,
.link.selected {
	color: #333;
}

.dropdownLink.selectedInverse,
.link.selectedInverse {
	color: #fff;
}

.dropdownLink {
	display: flex;
	align-items: center;
}

.dropdownIcon {
	margin-left: auto;
}

.children {
}

.children.expanded {
	visibility: visible;
	opacity: 1;
	max-height: 4000px;
	transition: visibility 0.5s, opacity 0.5s, max-height 0.5s;
	transition-timing-function: ease-in-out;
}

.children.collapsed {
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	max-height: 1px;
	transition: visibility 275ms, opacity 275ms, max-height 280ms;
	transition-timing-function: ease-out;
}
