@import '../../variables.css';

.root {
	position: fixed;
	top: calc(var(--grid-size) * 8);
	bottom: calc(var(--grid-size) * 4.4);
	left: 0;
	box-sizing: border-box;
	overflow: auto;
	padding: calc(var(--grid-size) * 2.5) calc(var(--grid-size) * 2) calc(var(--grid-size) * 2.5) 0px;
	width: calc(var(--grid-size) * 45);
	border-right: 1px solid #e5e5e5;
	word-break: break-word;
}

@media (max-width: 850px) {
	.root {
		bottom: calc(var(--grid-size) * 3.9);
	}
}
