@import '../../variables.css';

.root {
	position: relative;
	text-transform: none;
}

.link {
	font-size: 0.95rem;
	line-height: 1.65;
	color: #999;
	padding: calc(var(--grid-size) / 2) 0;
	display: block;
	text-decoration: none;
}

.link:hover,
.link:focus {
	text-decoration: none;
}

.dropdownLink.selected,
.link.selected {
	color: #333;
}

.dropdownLink.selectedInverse,
.link.selectedInverse {
	color: #fff;
}

.dropdownLink {
	display: flex;
	align-items: center;
}

.dropdownIcon {
	margin-left: auto;
}
