@import '../../variables.css';

.root {
	position: relative;
	text-transform: none;
}

.link {
	font-size: 0.95rem;
	line-height: 1.65;
	background-color: var(--color-white);
	color: var(--color-light-gray);
	padding: calc(var(--grid-size) / 2) 0;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.link.inverse {
	background-color: var(--header-background-color);
	color: var(--font-color-inverse);
}

.root.selected {
	color: var(--color-dark-gray);
}

.link:hover,
.link:focus {
	color: var(--font-color-hover);
	text-decoration: none;
}

.dropdownLink.selected,
.link.selected {
	color: var(--font-color-hover);
}

.dropdownLink.selected.inverse,
.link.selected.inverse {
	color: var(--font-color-inverse-hover);
	background-color: var(--header-background-color);
}

@media (max-width: 768px) {
	.link:hover {
		color: var(--font-color);
	}
	.link.inverse {
		background-color: var(--responsive-header-background-color);
	}
	.link.inverse:hover {
		color: var(--font-color-inverse);
	}
	.dropdownLink.selected.inverse,
	.link.selected.inverse {
		color: var(--font-color-inverse-hover);
		background-color: var(--responsive-header-background-color);
	}
}

.dropdownLink {
	display: flex;
	align-items: center;
	background: none;
	outline: none;
	border: none;
	width: 100%;
}

.dropdownIcon {
	margin-left: auto;
}

.children.expanded {
	visibility: visible;
	opacity: 1;
	max-height: 4000px;
	transition: visibility 0.5s, opacity 0.5s, max-height 0.5s;
	transition-timing-function: ease-in-out;
}

.children.collapsed {
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	max-height: 0px;
	transition: visibility 275ms, opacity 275ms, max-height 280ms;
	transition-timing-function: ease-out;
}
