@import '../variables.css';

.root {
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: var(--color-white);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
	position: relative;
}

.depth4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content {
	color: var(--font-color);
	padding: calc(var(--grid-size) * 1.5) var(--card-padding) var(--card-padding);
	box-sizing: border-box;
	flex-grow: 1;
	flex-shrink: 1;
}

.dark {
	color: var(--font-color-inverse);
	background-color: var(--dark-background-color);
}
