@import '../../variables.css';

.root {
	padding: calc(var(--grid-size) * 7) 0;
	display: flex;
	justify-content: center;
	color: #fff;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	transition: background 0.4s ease;
	min-width: 60px;
}

.backgroundBlue {
	background: #009dff;
}

.backgroundBlue:hover {
	background: #33b1ff;
}

.backgroundBlack {
	background: #160405;
}

.backgroundBlack:hover {
	background: #2c080a;
}

.backgroundGreen {
	background: #20cc76;
}

.backgroundGreen:hover {
	background: #3ee190;
}

.backgroundPurple {
	background: #a931b6;
}

.backgroundPurple:hover {
	background: #c24bcf;
}

.backgroundOrange {
	background: #f15a24;
}

.backgroundOrange:hover {
	background: #f47e54;
}
