@import '../variables.css';

.root {
	display: block!important;
}

.meta {
	color: var(--color-light-gray);
}

.headerLink,
.readMoreLink {
	position: relative;
	color: var(--color-light-gray);
	text-decoration: none;
}

.readMoreLink::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	border-bottom: 1px solid var(--color-dark-gray);
	transition: right 0.3s ease-out;
}

.headerLink:hover,
.readMoreLink:hover {
	color: var(--color-dark-gray);
	text-decoration: none;
}

.readMoreLink:hover::before {
	right: 0;
}