@import '../variables.css';

.root {
	padding: var(--content-top-padding) var(--content-padding);
	width: 960px;
	margin: 0 auto;
}

@media (max-width: 1050px) {
	.root {
		width: 640px;
	}
}

@media (max-width: 700px) {
	.root {
		width: 300px;
	}
}

.link {
	height: 60px;
	display: flex;
	align-items: center;
	width: 150px;
	background-color: #f6f6f6;
	color: rgb(141, 120, 132);
	border-color: #f6f6f6;
	width: 20%;
	margin-left: var(--grid-size);
	border-radius: calc(var(--grid-size) * 3.5);
	padding-left: calc(var(--grid-size) * 1.5);
	text-decoration: none;
	text-transform: uppercase;
}

.link:hover {
	color: #63545c;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-1px);
	transition: all 0.3s;
}

.link:first-child {
	margin-left: 0;
}

.link:hover > .linkImage {
	opacity: 1;
}

.linkImage {
	width: calc(var(--grid-size) * 4);
	height: calc(var(--grid-size) * 4);
	margin-right: var(--grid-size);
	opacity: 0.65;
}

.linkTable {
	display: flex;
}

.card {
	border-radius: 0;
	box-shadow: none;
}

.cardLink {
	position: relative;
	border: 1px solid rgba(10, 16, 20, 0.075);
}

.cardLink:hover {
	text-decoration: none;
	border: 1px solid rgba(10, 16, 20, 0.25);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.1), 0 6px 18px rgba(0, 0, 0, 0.1);
	transform: translateY(-1px);
	transition: all 0.3s;
	z-index: 5;
}

.cardContent {
	padding-top: 0;
}

.cardTable {
	box-shadow: 0 2px 8px 0 rgba(10, 16, 20, 0.27);
}

.cardLinkIcon {
	height: calc(var(--grid-size) * 4);
	position: absolute;
	right: calc(var(--grid-size) * 3);
	top: calc(50% - calc(var(--grid-size) * 2));
	transition: all 0.3s;
	opacity: 0;
}

.cardLink:hover .cardLinkIcon {
	opacity: 1;
}
