@import '../variables.css';

.root {
	flex: 1;
}

.headline {
	color: var(--color-white);
	width: calc(var(--grid-size) * 60);
	text-align: center;
	margin-bottom: calc(var(--grid-size) * 5);
}

.build {
	background: rgba(0, 0, 0, 0);
	font-size: 0.875em;
	color: var(--color-white);
	border-image: linear-gradient(110deg, var(--color-red), var(--color-purple));
	border-image-slice: 1;
	border-width: 3px;
	width: calc(var(--grid-size) * 30);
	height: calc(var(--grid-size) * 7);
	margin-bottom: var(--grid-size);
	text-transform: uppercase;
}

.build:hover {
	font-weight: bold;
	cursor: pointer;
}

.hero {
	width: 100%;
	height: calc(var(--grid-size) * 47.5);
	color: var(--color-white);
	background-size: cover;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.ethos {
	display: flex;
	flex-direction: row;
	margin-left: calc(var(--grid-size) * 2.5);
	margin-right: calc(var(--grid-size) * 2.5);
}

.ethosPoint {
	width: calc(100% / 3);
	margin: calc(var(--grid-size) * 5) calc(var(--grid-size) * 2.5) calc(var(--grid-size) * 2.5);
	padding: calc(var(--grid-size) * 2.5);
}

.ethosTitle {
	color: var(--color-black);
	margin: 0;
	margin-left: calc(var(--grid-size) * 1.6);
	margin-bottom: calc(var(--grid-size) * 1.6);
}

.productive {
	color: var(--color-red);
}

.adaptable {
	color: var(--color-green);
}

.inclusive {
	color: var(--color-purple);
}

.ethosTitleContainer {
	display: flex;
	flex-direction: row;
}

.getGoing {
	margin: calc(var(--grid-size) * 2.5);
	padding: calc(var(--grid-size) * 2.5);
	margin-bottom: calc(var(--grid-size) * 5);
}

.getGoingHeadline {
	margin-top: calc(var(--grid-size) * 2.5);
	margin-bottom: calc(var(--grid-size) * 2.5);
}

.command {
	font-family: monospace;
	color: var(--color-off-white);
	font-size: 1.375em;
	display: flex;
}

.commands {
	width: 80%;
	height: calc(var(--grid-size) * 16);
	background: var(--dark-background-color);
	white-space: nowrap;
	padding: calc(var(--grid-size) * 2.5);
}

@keyframes typeOne {
	to {
		width: 24em;
	}
}

.commandOne {
	width: 0;
	overflow: hidden;
	display: inline-block;
	animation: typeOne 4s steps(46, end) 2s;
	animation-fill-mode: forwards;
}

@keyframes typeTwo {
	to {
		width: 21em;
	}
}

.commandTwo {
	width: 0;
	overflow: hidden;
	display: inline-block;
	animation: typeTwo 4s steps(40, end) 7s;
	animation-fill-mode: forwards;
}

@keyframes blink {
	to {
		opacity: 1;
	}
}

.blinkOne {
	opacity: 0;
	animation-fill-mode: forwards; /** Disappear on finish **/
	animation: blink 1s linear 0s 5;
}

.blinkTwo {
	opacity: 0;
	animation: blink 1s linear 7s infinite;
}

.code::selection {
	color: var(--color-white);
	color: var(--dark-background-color);
}

.code {
	background: var(--dark-background-color);
	font-size: 0.875em;
	padding: calc(var(--grid-size) * 2.5);
	width: calc(var(--grid-size) * 60);
	max-width: calc(var(--grid-size) * 60);
	height: calc(var(--grid-size) * 30);
	margin-left: calc(var(--grid-size) * 12.5);
	opacity: 0;
	animation: fadeIn 1s linear 11s;
	animation-fill-mode: forwards;
}

.keyword,
.variable {
	margin-right: 7px;
}

.keyword {
	color: #c775df;
}

.variable {
	color: #e26b70;
}

.string {
	color: #97c475;
}

.codeline {
	font-family: monospace;
	color: var(--color-white);
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 2px;
}

.codeContainer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}

.cli {
	display: flex;
	flex-direction: row;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.result {
	color: var(--color-black);
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: calc(var(--grid-size) * 17.5);
	position: absolute;
	width: calc(var(--grid-size) * 35);
	height: calc(var(--grid-size) * 25);
	top: calc(var(--grid-size) * 7.5);
	opacity: 0;
	animation: fadeIn 1s linear 12s;
	animation-fill-mode: forwards;
}

.check {
	width: calc(var(--grid-size) * 5);
	height: calc(var(--grid-size) * 5);
	line-height: calc(var(--grid-size) * 5);
	border-radius: 100%;
	background-color: var(--color-green);
	color: var(--color-white);
	text-align: center;
}

@media (max-width: 960px) {
	.headline {
		font-size: 1.25em;
		width: calc(var(--grid-size) * 37.5);
	}
	.ethosPoint {
		width: initial;
		margin: calc(var(--grid-size) * 2) calc(var(--grid-size) * 2.5) calc(var(--grid-size) * 2.5);
	}
	.ethos {
		margin: 0;
	}
	.command {
		font-size: 1em;
	}
	.commands {
		width: 100%;
		box-sizing: border-box;
		padding: 0;
		height: calc(var(--grid-size) * 7);
	}
	.content {
		padding: 0;
	}
	.build {
		width: calc(var(--grid-size) * 25);
	}
	.ethos, .cli {
		flex-direction: column;
	}
	.getGoing {
		padding: 0;
	}
	.codeContainer {
		display: none;
	}
}
