.root {
	padding-left: 15px;
	font-weight: bold;
}

.info {
	border-left: 4px solid #009dff;
}

.success {
	border-left: 4px solid #32d296;
}

.danger {
	border-left: 4px solid #fc502d;
}

.warning {
	border-left: 4px solid #fcd02d;
}
