@import '../variables.css';

.root {
}

.card {
	display: flex;
}

.header {
	background-color: var(--color-off-white);
	background-position: center;
	background-size: cover;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	flex-grow: 0;
	flex-shrink: 0;
	min-height: 204px;
}

.header:after {
	background: rgba(0, 0, 0, 0.05);
	content: '';
	width: 100%;
	display: block;
	height: 100%;
}

.card:hover .header:after {
	background: transparent;
}

.title {
	margin-top: 0;
	margin-bottom: 15px;
}

.footer {
	border-top: 1px solid var(--color-border);
	flex-grow: 0;
	flex-shrink: 0;
	text-align: right;
}

.linkBtn {
	border-left: 1px solid var(--color-border);
	color: var(--font-color);
	display: inline-block;
	padding: calc(var(--card-padding) / 2) var(--card-padding);
	position: relative;
	z-index: 2;
}

.linkBtn:hover {
	box-shadow: 0 0 2px 0 var(--color-border);
	color: var(--font-color-hover);
}

.root .cardContent {
	margin-top: 1.33em;
	z-index: 2;
	padding: 0;
	margin: calc(var(--grid-size) * 1.5) var(--card-padding) var(--card-padding);
}
