@import '../../variables.css';

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-top: var(--content-top-padding);
	padding: var(--content-padding);
	margin: 0px var(--content-border);
}

.content {
	flex-grow: 1;
	min-width: 900px;
	width: 50%;
	margin: 0 auto 80px;
}

.footer {
	color: #999 !important;
	font-size: 16px;
	line-height: 1.5;
	text-align: right;
	padding: 1rem;
}

.contentShiftRight {
	margin-left: calc(var(--grid-size) * 45);
}

@media (max-width: 768px) {
	.content {
		min-width: 90vw;
		margin: 0 auto;
		max-width: 90vw;
	}

	.contentShiftRight {
		margin-left: 0;
		width: 100vw;
		padding: 0;
		padding-top: var(--grid-size);
	}
}
