@import '../../variables.css';

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-top: var(--content-top-padding);
	padding: var(--content-padding);
	padding-bottom: 0;
	margin: 0 var(--content-border);
}

.content {
	flex-grow: 1;
	width: calc(var(--grid-size) * 100);
	margin: 0 auto calc(var(--grid-size) * 8);
}

.footer {
	color: var(--color-light-gray);
	font-size: 14px;
	line-height: 1.5;
	text-align: right;
	padding: 1rem;
}

@media (max-width: 768px) {
	.root .content {
		min-width: 90vw;
		margin: 0 auto;
		max-width: 90vw;
	}
}
