@import 'variables.css';

.root {
	display: flex;
	flex-direction: column;
}

.content {
	flex-grow: 1;
	display: flex;
	margin-top: var(--header-size);
	min-height: calc(100vh - (calc(var(--header-size) + var(--footer-size))));
}
