@import url('https://fonts.googleapis.com/css?family=Montserrat&font-display=swap');

@import './variables.css';

html {
	font-family: 'Montserrat', sans-serif;
	font-size: var(--body-font-size);
	font-weight: normal;
	line-height: 1.65;
	-webkit-text-size-adjust: 100%;
	background: var(--color-white);
	color: var(--font-color);
}

body {
	margin: 0;
	padding: 0;
	overscroll-behavior-y: none;
}

/* Code */
blockquote {
	color: var(--color-white);
	font-size: var(--block-quote-font-size);
	font-weight: var(--block-quote-font-weight);
	text-align: left;
	line-height: 28px;
	background-color: #3b3f4a;
	border-bottom: 1px solid #dbdbdb;
	padding: 10px 25px;
	margin: 0;
	box-shadow: rgba(10, 16, 20, 1) 0px 0px 2px;
	border-radius: 3px 3px 0px 0;
}

blockquote > p {
	margin: 0;
}

pre[class*='language-'] {
	border-radius: 3px !important;
	box-shadow: rgba(10, 16, 20, 0.24) 0px 2px 2px, rgba(10, 16, 20, 0.12) 0px 0px 2px;
	margin-bottom: 2em !important;
}

pre[class*='language-']:last-child {
	margin-bottom: 0 !important;
}

blockquote + pre[class*='language-'] {
	margin-top: 0;
	border-radius: 0 0 3px 3px;
}

pre {
	white-space: pre-wrap;
}

@media (max-width: 768px) {
	blockquote {
		padding: calc(var(--grid-size) * 0.5) calc(var(--grid-size) * 1.5);
	}

	pre[class*='language-'] {
		font-size: var(--pre-font-size);
	}
}

/* Headings
========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--font-color);
	font-weight: normal;
	line-height: 1.25;
	margin-bottom: calc(var(--grid-size) * 2);
}

/*
 * Sizes
 */
h1 {
	font-size: var(--header1-font-size);
	line-height: var(--header1-line-height);
}

h2 {
	font-size: var(--header2-font-size);
	line-height: var(--header2-line-height);
}

h3 {
	font-size: var(--header3-font-size);
	line-height: var(--header3-line-height);
}

h4 {
	font-size: var(--header4-font-size);
	line-height: var(--header4-line-height);
}

h5 {
	font-size: var(--header5-font-size);
	line-height: var(--header5-line-height);
}

h6 {
	font-size: var(--header6-font-size);
	line-height: var(--header6-line-height);
}

/* Add margin if adjacent element */
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: calc(var(--grid-size) * 4);
}

@media (max-width: 768px) {
	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: calc(var(--grid-size) * 2.5);
	}
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-color-hover);
	text-decoration: underline;
}

ul {
	padding-left: 2em;
	margin-top: 0;
	margin-bottom: 16px;
}

img {
	max-width: 100%;
}

/*
 * Tables
 */
table {
	border-collapse: collapse;
	box-shadow: rgba(10, 16, 20, 0.24) 0px 2px 2px, rgba(10, 16, 20, 0.12) 0px 0px 2px;
}

thead {
	background-color: #3b3f4a;
}

th {
	text-align: left;
	font-weight: bold;
	color: white;
	padding: 10px 15px;
}

tr {
	border-bottom: 1px solid rgba(10, 16, 20, 0.12);
}

td {
	text-align: left;
	padding: 10px 15px;
}

@media (max-width: 850px) {
	table {
		box-shadow: none;
	}

	thead {
		display: none;
	}

	tbody {
		display: flex;
		flex-direction: column;
	}

	tr {
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5em;
		border-bottom: none;
	}

	td {
		margin-bottom: 0.5em;
		padding: 0;
	}

	td:first-child {
		font-size: var(--table-first-column-font-size);
		font-weight: bold;
		color: var(--color-black);
		margin-bottom: 0;
	}
}

code[class*=language-] {
	white-space: pre-wrap;
    word-break: break-word;
}