@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import './variables.css';

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.65;
	-webkit-text-size-adjust: 100%;
	background: var(--color-white);
	color: var(--font-color);
}

body {
	margin: 0;
	padding: 0;
}

/* Code */
blockquote {
	color: var(--color-white);
	font-size: 12px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
	line-height: 28px;
	background-color: #3b3f4a;
	border-bottom: 1px solid #dbdbdb;
	padding: 10px 25px;
	margin: 0;
	box-shadow: rgba(10, 16, 20, 1) 0px 0px 2px;
	border-radius: 3px 3px 0px 0;
}

blockquote > p {
	margin: 0;
}

pre[class*='language-'] {
	border-radius: 3px !important;
	box-shadow: rgba(10, 16, 20, 0.24) 0px 2px 2px, rgba(10, 16, 20, 0.12) 0px 0px 2px;
	margin-bottom: 2em !important;
}

pre[class*='language-']:last-child {
	margin-bottom: 0 !important;
}

blockquote + pre[class*='language-'] {
	margin-top: 0;
	border-radius: 0 0 3px 3px;
}

pre {
	white-space: pre-wrap;
}

@media (max-width: 768px) {
	blockquote {
		padding: 5px 15px;
	}

	pre[class*='language-'] {
		font-size: 14px;
	}
}

/* Headings
========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--font-color);
	font-weight: normal;
	line-height: 1.25;
	margin-bottom: calc(var(--grid-size) * 2);
}

/*
 * Sizes
 */
h1 {
	font-size: 2.625rem;
	line-height: 1.2;
}

h2 {
	font-size: 2rem;
	line-height: 1.3;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.4;
}

h4 {
	font-size: 1.25rem;
	line-height: 1.4;
}

h5 {
	font-size: 16px;
	line-height: 1.4;
}

h6 {
	font-size: 0.875rem;
	line-height: 1.4;
}

/* Add margin if adjacent element */
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: 40px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
		font-size: 14px;
	}

	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: 25px;
	}
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-color-hover);
	text-decoration: underline;
}

ul {
	padding-left: 2em;
	margin-top: 0;
	margin-bottom: 16px;
}

img {
	max-width: 100%;
}

/*
 * Tables
 */
@media (max-width: 850px) {
	thead {
		display: none;
	}

	tbody {
		display: flex;
		flex-direction: column;
	}

	tr {
		display: flex;
		flex-direction: column;
		margin-bottom: var(--grid-size);
	}

	td {
		margin-bottom: var(--grid-size);
	}

	td:first-child {
		font-size: 1.1rem;
		font-weight: bold;
		color: var(--color-black);
		margin-bottom: 0;
	}
}
