@import './variables.css';
@import './prism.css';

html {
	font-family: var(--default-font-family);
	font-size: var(--body-font-size);
	font-weight: normal;
	line-height: 1.65;
	-webkit-text-size-adjust: 100%;
	background: var(--color-white);
	color: var(--font-color);
}

body {
	margin: 0;
	padding: 0;
	overscroll-behavior-y: none;
}

/* Code */
blockquote {
	color: var(--color-white);
	font-size: var(--block-quote-font-size);
	font-weight: var(--block-quote-font-weight);
	text-align: left;
	line-height: 28px;
	background-color: #282a36;
	padding: 4px 10px;
	border: 1px solid #282a36;
	margin: 0;
}

blockquote > p {
	font-weight: bold;
	font-size: 14px;
	margin: 0;
}

@media (min-width: 769px) {
	h1 > a,
	h2 > a,
	h3 > a,
	h4 > a {
		position: relative;
	}

	:target::before {
		content: '';
		display: block;
		height: 124px;
		margin: -124px 0 0;
	}
}

.refguide-link {
	margin-right: 5px;
}

pre {
	font-size: var(--pre-font-size);
	margin-bottom: 2em !important;
	white-space: pre-wrap;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

pre:last-child {
	margin-bottom: 0 !important;
}

blockquote + pre[class*='language-'] {
	margin-top: 0;
}

pre,
code {
	background: none;
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

p {
	font-size: 15px;
}

@media (max-width: 768px) {
	blockquote {
		padding: calc(var(--grid-size) * 0.5) calc(var(--grid-size) * 1.5);
	}

	pre[class*='language-'] {
		font-size: var(--pre-font-size);
	}
}

/* Headings
========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	color: var(--font-color);
	font-weight: normal;
	line-height: 1.25;
	margin-bottom: calc(var(--grid-size) * 2);
}

/*
 * Sizes
 */
h1 {
	font-size: var(--header1-font-size);
	line-height: var(--header1-line-height);
}

h2 {
	font-size: var(--header2-font-size);
	line-height: var(--header2-line-height);
}

h3 {
	font-size: var(--header3-font-size);
	line-height: var(--header3-line-height);
}

h4 {
	font-size: var(--header4-font-size);
	line-height: var(--header4-line-height);
}

h5 {
	font-size: var(--header5-font-size);
	line-height: var(--header5-line-height);
}

h6 {
	font-size: var(--header6-font-size);
	line-height: var(--header6-line-height);
}

/* Add margin if adjacent element */
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: calc(var(--grid-size) * 4);
}

@media (max-width: 768px) {
	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: calc(var(--grid-size) * 2.5);
	}
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-color-hover);
	text-decoration: underline;
}

ul {
	padding-left: 2em;
	margin-top: 0;
	margin-bottom: 16px;
}

img {
	max-width: 100%;
}

/*
 * Tables
 */

table {
	background: #282a36;
	border: 1px solid #282a36;
	border-collapse: collapse;
}

th {
	text-align: left;
	font-weight: bold;
	color: white;
	padding: 10px 15px;
}

thead {
	font-size: 14px;
}

tbody {
	background: white;
}

td {
	text-align: left;
	padding: 10px 15px;
}

@media (max-width: 850px) {
	table {
		box-shadow: none;
		border: none;
		border-collapse: collapse;
	}

	thead {
		display: none;
	}

	tbody {
		display: flex;
		flex-direction: column;
	}

	tr {
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5em;
		border-bottom: none;
	}

	td {
		margin-bottom: 0.5em;
		padding: 0;
	}

	td:first-child {
		font-size: var(--table-first-column-font-size);
		font-weight: bold;
		color: var(--color-black);
		margin-bottom: 0;
	}
}

code[class*='language-'] {
	white-space: pre-wrap;
	word-break: break-word;
}
