:root {
	/* Color Pallette */

	--color-white: #ffffff;
	--color-surface-light: #fbfbfd;
	--color-surface: #f5f6f8;
	--color-surface-dark: #edeef1;
	--color-slate-gray: #455361;
	--color-slate-dark: #283141;
	--color-slate-deep: #171d25;
	--color-gunmetal: #788590;
	--color-gray: #cbd3d8;
	--color-platinum: #dbdfe1;
	--color-blue: #2974c2;
	--color-red: #e85f5f;
	--color-green: #5eaa40;
	--color-orange: #f5a623;

	/* Typography */

	--font-family: 'Open Sans', sans-serif;

	--header1-font-size: 18px;
	--header1-line-height: 28px;
	--header1-font-weight: 400;
	--header1-color: var(--color-slate-gray);

	--header2-font-size: 16px;
	--header2-line-height: 20px;
	--header2-font-weight: 600;
	--header2-color: var(--color-slate-gray);

	--header3-font-size: 14px;
	--header3-line-height: 20px;
	--header3-font-weight: 600;
	--header3-color: var(--color-slate-dark);

	--header4-font-size: 12px;
	--header4-line-height: 16px;
	--header4-font-weight: 600;
	--header4-color: var(--color-slate-dark);

	--border-radius: 4px;
	--grid-size: 10px;

	--card-padding: calc(var(--grid-size) * 2)
}
