:root {
	/* Color Pallette */

	--color-white: #ffffff;
	--color-off-white: #aaa;
	--color-black: #000000;
	--color-light-blue: #009dff;
	--color-blue: #0f6ecd;
	--color-dark-blue: #0a4784;
	--color-purple: #862790;
	--color-red: #c42826;
	--color-green: #2ab770;
	--color-blue: #2db5f9;
	--color-border: rgba(0, 0, 0, 0.1);
	--color-light-gray: #999;
	--color-gray: #555;
	--color-dark-gray: #333;
	--color-black: #000;

	--font-color: var(--color-dark-gray);
	--font-color-hover: var(--color-black);
	--font-color-inverse: var(--color-off-white);
	--font-color-inverse-hover: var(--color-white);
	--link-color: var(--color-blue);
	--link-color-hover: var(--color-dark-blue);

	--dark-background-color: #212329;
	--darker-background-color: #141414;

	--border-radius: 4px;
	--grid-size: 10px;
	--card-padding: calc(var(--grid-size) * 2);

	--header-background-color: var(--dark-background-color);
	--responsive-header-background-color: var(--darker-background-color);
	--hero-background: #17191c;
	--menu-offset: calc(var(--grid-size) * 2);
	--toggle-button-width: calc(var(--grid-size) * 2.6);
	--header-size: calc(var(--grid-size) * 8);
	--footer-size: calc(var(--grid-size) * 4.4);

	--content-top-padding: calc(var(--grid-size) * 6);
	--content-padding: calc(var(--grid-size) * 3);
	--console-background-color: var(--darker-background-color);
}

@media (max-width: 850px) {
	:root {
		--header-size: calc(var(--grid-size) * 6);
		--content-top-padding: var(--grid-size);
		--content-padding: var(--grid-size);
		--footer-size: calc(var(--grid-size) * 3.9);
	}
}
