@import '../variables.css';

.root {
	--toggle-button-height: 20px;
	--header-background-color: #212329;
	--shadow-color: rgba(0, 0, 0, 0.5);
	--toggle-button-color: #d3d3d3;
	--logo-width: 110px;
	--logo-height: 48px;
	position: fixed;
	width: 100vw;
	background: var(--header-background-color);
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	height: var(--header-size);
	z-index: 10;
}

.menu {
	margin-right: var(--menu-offset);
	overflow: hidden;
}

.menuList {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background: none;
}

.menuItem {
	text-align: right;
	margin: 10px;
}

.left {
	display: flex;
	align-items: center;
	flex: 1 0 auto;
}

.link {
	font-size: 0.9rem;
	min-width: 140px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--font-color-inverse);
	text-transform: uppercase;
	transition: 0.1s ease-in-out;
	transition-property: color, background-color;
}

.link:hover {
	color: var(--font-color-inverse-hover);
}

.homeLink {
	display: flex;
	justify-content: center;
}

.selected {
}

.centerContainer {
}

.logo {
	height: var(--logo-height);
	width: var(--logo-width);
}

.leftContainer {
	margin: auto calc(var(--grid-size) * 2);
	display: flex;
}

.toggleButton {
	text-align: left;
	background: none;
	font: inherit;
	position: relative;
	cursor: pointer;
	height: var(--toggle-button-height);
	width: var(--toggle-button-width);
	z-index: 2;
	top: calc(50 - var(--toggle-button-height));
	border: none;
	display: none;
	padding: 0;
	margin: 0;
}

.toggleBar {
	margin-top: 0;
}

.toggleBar::after {
	margin-top: calc(var(--toggle-button-height) / 2.5);
}

.toggleBar::before {
	margin-top: calc(calc(var(--toggle-button-height) / 2.5) * -1);
}

.toggleBar,
.toggleBar::after,
.toggleBar::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s ease;
	background: var(--toggle-button-color);
	border-radius: var(--border-radius);
	content: '';
	height: calc(var(--toggle-button-height) / 5);
	width: 100%;
}

/* screen reader only - only visible to screen readers */
.srOnly {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.rightContainer {
	display: none;
	width: calc(var(--toggle-button-width) + calc(var(--grid-size) * 2));
	height: var(--toggle-button-height);
	margin: auto 10px;
}

.mainMenuToggle {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

/* small screen */
@media (max-width: 768px) {
	.toggleButton {
		display: inline-block;
	}

	.menu {
		position: fixed;
		left: -200px;
		top: var(--header-size);
		height: 100%;
		overflow-x: visible;
		transition: left 0.3s ease, box-shadow 0.3s ease;
		z-index: 999;
	}

	.menuList {
		margin: 0;
		padding: 2.5em 0 0;
		box-shadow: -8px 0 8px var(--shadow-color);
		min-height: 100%;
		width: 200px;
		background: var(--header-background-color);
		display: block;
	}

	.centerContainer {
		flex-grow: 2;
		text-align: center;
	}

	.leftContainer {
		flex-grow: 0;
	}

	.rightContainer {
		display: block;
		flex-grow: 0;
	}

	.mainMenuToggle:checked ~ .left .toggleBar {
		background: transparent;
	}

	.mainMenuToggle:checked ~ .left .toggleBar::after,
	.mainMenuToggle:checked ~ .left .toggleBar::before {
		background: var(--toggle-button-color);
		margin-top: 0;
		top: 0;
	}

	.mainMenuToggle:checked ~ .left .toggleBar::before {
		transform: rotate(-45deg);
	}

	.mainMenuToggle:checked ~ .left .toggleBar::after {
		transform: rotate(45deg);
	}

	.mainMenuToggle:checked ~ .menu {
		left: 0;
		outline: none;
		z-index: 1000;
	}

	.mainMenuToggle:checked ~ .menu .menuList {
		position: relative;
		z-index: 1000;
	}

	.mainMenuToggle:checked ~ .left {
		z-index: 999;
	}
}
