.root {
	position: fixed;
	width: 100%;
	background: #212329;
}

.menu {
	height: 80px;
	padding: 0 40px;
	color: rgba(117, 117, 117, 1);
	box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
}

.menuItem {
	display: inline-block;
	text-align: right;
	margin: 10px;
}

.left {
	flex: 1 0 auto;
}

.link:hover {
}

.link {
	font-size: 0.9rem;
	min-width: 140px;
	text-align: center;
	text-decoration: none;
	color: white;
	box-sizing: border-box;
	color: #999;
	text-transform: uppercase;
	transition: 0.1s ease-in-out;
	transition-property: color, background-color;
}

.selected {
}

.logo {
	height: 48px;
	width: 110px;
}
