@import '../variables.css';

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-top: 60px;
}

.content {
	flex-grow: 1;
	min-width: 900px;
	width: 50%;
	margin: 0 auto var(--header-size);
}

.contentShiftRight {
	margin-left: 300px;
}

.footer {
	color: #999 !important;
	font-size: 0.875rem;
	line-height: 1.5;
	text-align: right;
	padding: 1rem;
}
