@import '../variables.css';

.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-top: var(--content-top-padding);
	padding: var(--content-padding); 
	margin: 0px var(--content-border);
}

.content {
	flex-grow: 1;
}

.contentShiftRight {
	margin-left: 300px;
}

.footer {
	color: #999 !important;
	font-size: 0.875rem;
	line-height: 1.5;
	text-align: right;
	padding: 1rem;
}

@media (max-width: 768px) {
	.contentShiftRight {
		margin-left: var(--content-border);
	}
}
